html
   head
      link(rel='stylesheet', href='/stylesheets/style.css')
   body
      each user in result
         div.result
            sapn #{user.username}
            span #{user.password}
            span #{user.name}
            span #{user.age}
