//
   Created by majun on 16-3-13.
//input#id id
#userinfo
   form(action="save" method="get")
      div id
         input#id(name="id")
      div 姓名
         input#name(name="name")
      div 年龄
         input#age(name="age")
      input#submit(type="submit")
